body {
    font-family: "Comic Sans MS", cursive;;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: yellowgreen;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5px;
    background-color: blueviolet;
    color: palegreen;
}

.animated-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    font-size: 18px;
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    border-radius: 50px;
    border-color: red;
    text-decoration: none;
    transition: background-color 0.3s ease;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container {
    position: relative;
}

.animation-button:hover {
    background-color: #0056b3;
}
